header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    padding: 25px;

    nav.top-nav{
        overflow: hidden;
        margin: 0;
        width: 100%;
        transition: .3s ease-in-out;
        height: auto;
        position: relative;

        .menu{
            width: 100%;
            max-width: 200px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1000;
            margin-top: 8px;

            @media screen and (max-width: 39.9375em) {
                position: static;
            }

            .button{
                width: 100%;
                max-width: 200px;
            }

            @media screen and (max-width: 39.9375em) {
                margin: 20px auto;
                max-width: 100%;

                .button{
                    max-width: 100%;
                }
            }
        }

        .social{
            max-width: 350px;
            margin-top: 15px;
            
            // @media screen and (min-width: 75em) {
            //     max-width: 496px;
            //     margin-top: 8px;
            // }

            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1000;
            display: block;

            // Small to Medium
            @media screen and (max-width: 63.9375em) {
                display: none;
            }

            .item{
                width: 25%;
                padding:0 12px;
                transition: .3s ease-in-out;
                img{
                    transition: .2s ease-in-out;
                }

                // @media screen and (min-width: 75em) {
                //     padding:0 23px;
                // }

                &:hover, &:focus, &:active{
                    transition: .3s ease-in-out;
                    -webkit-animation: pulsate-fwd 3s ease-in-out infinite both;
                    animation: pulsate-fwd 3s ease-in-out infinite both;
                    cursor: pointer;

                    > img{
                        background-color: $purple-bg;
                        transition: .2s ease-in-out;
                        border-radius: 200px;
                    }
                }
            }
        }

        .branding{
            max-width: 200px;
            width: 100%;
            margin: 0px auto;

            a{
                display: block;
                height: auto;
                width: 100%;
            }

            @media screen and (max-width: 39.9375em) {
                max-width: 100%;

                a{
                    img.site-logo{
                        max-width: 200px;
                        margin-left: calc(#{"50% - 100px"});
                    }
                }
            }
        }
    }
}