.section--blog-header,.section--post-header {
  margin-top: 100px;
  margin-bottom: 50px;
  .row{
    @include breakpoint(medium down){
      background: $contribute-main;
    }
  }
  .blog-header,.post-header{
    &__title{
      font-weight:900;
      background: $contribute-main;
      
      color:white;
      @include breakpoint(large){
        padding: 30% 0%;
      }
      @include breakpoint(small only){
        padding: 50px 0;
      }
    }
    &__content-container{
      position: relative;
      @include breakpoint(medium down){
        background: $contribute-grey;
        padding-top: 50px;
        padding-bottom: 50px;
      }
      @include breakpoint(large){
        &:before{
          content:"";
          position: absolute;
          z-index: -1;
          background: $contribute-grey;
          top: -20%;
          left: -30%;
          height: 100%;
          width: 130%;
        }
      }
      
    }
    &__content{
      margin-left: 50px;
    }
  }
}

.section--post-header{
  margin-top: 200px;
  .row{
    background: transparent;
  }
  .post-header{
    &__image{
      position: relative;
      background-size: cover;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      @include breakpoint(large){
        top: -20%;
      }
    } 
    &__meta{
      margin-bottom: 20px;
    }
    &__content-container{
      @include breakpoint(large){
        &:before{
          height: 115%;
          top: -10%;
          left: -41%;
          width: 140%;
        }
      }
    }
    &__read{
      font-size: 12px;
      color: $marker-background;
      font-weight: 900;
      text-transform: uppercase;
    }
    &__published{
      color: $contribute-text-grey;
    }
    &__content{
      font-size: 1.25em;
      margin-left: 20px;
      &__title{
        font-weight: 900;
        position: relative;
        font-size: 3.125em;
        @include breakpoint(large){
          //left: -20%;
        }
        
      }
    }
  }
}