.remove-height {
    height: 419px !important;

    @include anim(0.8s);

    @include breakpoint(medium down) {
        height: 391px !important;
    }
}

.post {
    &__links {
        position: fixed;
        right: 0;
        bottom: -5px;
        right: 10px;
        z-index: 5;

        ul {
            width: 92px;

            //box-shadow: 0px 2px 3px #f4f4f8;
            background-color: $contribute-grey;
            border: 1px solid $contribute-dark-grey;
            border-radius: 5px;
            height: 99px;
            overflow: hidden;

            @include anim(0.5s);

            @include breakpoint(medium down) {
                width: 55px;
                height: 75px;
            }


            li {
                list-style-type: none;
                text-align: center;

                &.share {
                    padding: 15px 0px 20px 0px;
                    position: relative;
                    z-index: 1;
                    cursor: pointer;

                    .line {
                        position: absolute;
                        width: 45px;
                        display: block;
                        background-color: $contribute-dark-grey;
                        z-index: 2;
                        margin: auto;
                        left: 0;
                        right: 0;

                        @include breakpoint(medium down) {
                            width: 25px;
                        }


                        @include anim(0.5s);

                        &.top {
                            bottom: 15px;
                        }

                        &.bottom {
                            bottom: 10px;
                        }
                    }

                    .title {
                        font-weight: 600;
                        margin-bottom: 0;

                        @include breakpoint(medium down) {
                            display: none;
                        }
                    }
                }

                .link--marker-social {
                    display: block;
                    font-size: 20px;
                    line-height: 4;

                    @include anim(0.3s);

                    &:hover {
                        color: $contribute-main;

                        @include anim(0.3s);
                    }
                }

                .link--marker-social-share {
                    font-size: 30px;
                    color: $contribute-main;
                }
            }
        }
    }
}