.section--hero {
    top: -40px;
    .logo-wrapper{
        display: table;
        width: 100%;
        margin: 0;
        padding: 0;

        .site-logo{
            margin: 0px auto;
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            max-width: 750px;
        }
    }

    .hero-content{
        margin-top: 140px;

        @media screen and (max-width: 39.9375em) {
            margin-top: 70px;
        }
    }
}