.section--contact-form {
    margin-bottom: 0px;
    padding-bottom: 0px;
    .wpcf7 {
        width: 100%;
        background: white;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        padding-bottom: 20px;
        padding-top: 20px;
        position: relative;
        &:before {
            content: "";
            top: -10%;
            right: -10%;
            background: $contribute-grey;
            width: 100%;
            height: 70%;
            position: absolute;
            z-index: -1;
        }
        &:after {
            content: "";
            bottom: -5%;
            left: -5%;
            background: $contribute-main;
            width: 25%;
            height: 10%;
            position: absolute;
            z-index: -1;
        }
        &-validation-errors {
            border: 2px solid $contribute-main;
        }
    }
    h4 {
        text-transform: none;
    }
    form {
        h4 {
            margin-bottom: 50px;
        }
        display: flex;
        flex-flow: row wrap;
        [type='text'],
        [type='password'],
        [type='date'],
        [type='datetime'],
        [type='datetime-local'],
        [type='month'],
        [type='week'],
        [type='email'],
        [type='number'],
        [type='search'],
        [type='tel'],
        [type='time'],
        [type='url'],
        [type='color'],
        textarea {
            border: none;
            border-bottom: 2px solid black;
            box-shadow: none;
            margin-bottom: 30px;
            letter-spacing: 1.2px;
        }
        textarea {
            border: none;
        }
         ::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: $contribute-text-grey;
            letter-spacing: 1.2px;
        }
         :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: $contribute-text-grey;
            opacity: 1;
            letter-spacing: 1.2px;
        }
         ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: $contribute-text-grey;
            opacity: 1;
            letter-spacing: 1.2px;
        }
         :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $contribute-text-grey;
            letter-spacing: 1.2px;
        }
        [type='submit'] {
            background: $contribute-main;
            width: 65%;
            padding: 10px 0;
            display: block;
            margin: 0 auto;
            font-size: 32px;
            border: 0;
            color: white;
            letter-spacing: 1.2px;
            @include anim(0.3s);
            cursor: pointer;
            &:hover {
                background: darken($contribute-main, 10);
            }
        }
        small {
            color: $contribute-text-grey;
        }
    }
    blockquote {
        background: white;
    }
    .contact-info {
        padding-top: 20px;
        address {
            margin: 50px 0;
        }
        .social-option {
            font-size: 20px;
        }
        .route {
            font-size: 12px;
        }
    }
}