@mixin anim($speed) {
    transition: all $speed ease;
    -webkit-transition: all $speed ease;
    -moz-transition: all $speed ease;
    -o-transition: all $speed ease;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animate($name, $duration) {
    -webkit-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-name: $name;
    animation-name: $name;
}

@mixin lineAniLeft {
    @include animate(lineAniLeft, 1s);
}

@mixin lineAniRight {
    @include animate(lineAniRight, 1s);
}

@include keyframes(lineAniLeft) {
    0% {
        width: 150px;
        left: 20px;
    }

    50% {
        width: 0px;
        left: 20px;
    }

    75% {
        width: 0px;
        left: 150px;
    }

    100% {
        width: 150px;
        left: 20px;
    }
}

@include keyframes(lineAniRight) {
    0% {
        width: 150px;
        right: 20px;
    }

    50% {
        width: 0px;
        right: 20px;
    }

    75% {
        width: 0px;
        right: 150px;
    }

    100% {
        width: 150px;
        right: 20px;
    }
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

.pulsate {

    // Only do this pulse for large screens
    @media screen and (min-width: 75em) {
        -webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
        animation: pulsate-fwd 2s ease-in-out infinite both;
    }
}

@-webkit-keyframes pulsate-once {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
        -webkit-transform: scale(1.1, 1.1);
    }

    100% {
        -webkit-transform: scale(1, 1);
        opacity: 1.0;
    }
}

.pulsate-once {
    -webkit-animation: pulsate-fwd 3s ease-in-out once;
    animation: pulsate-fwd 3s ease-in-out once;
}

@-webkit-keyframes opacityPulse {
    0% {
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}

.opacity-pulse {
    -webkit-animation: opacityPulse 1s ease-in-out infinite both;
    animation: opacityPulse 1s ease-in-out infinite both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes alertPulse {
    0% {
        background-color: #9A2727;
        opacity: 1;
    }

    50% {
        opacity: red;
        opacity: 0.75;
    }

    100% {
        opacity: #9A2727;
        opacity: 1;
    }
}

.alert-pulse {
    -webkit-animation: alertPulse 2s ease-in-out infinite both;
    animation: alertPulse 2s ease-in-out infinite both;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.pulsate-fwd {
    -webkit-animation: pulsate-fwd 5s ease-in-out infinite both;
    animation: pulsate-fwd 5s ease-in-out infinite both;
}


@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.gradient-animation {
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.typing {
    -webkit-animation: typing 3.5s ease infinite;
    -moz-animation: typing 3.5s ease infinite;
    animation: typing 3.5s ease infinite;
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: $pink;
    }
}

.blinking-cursor {
    -webkit-animation: blinking-cursor .5s ease infinite;
    -moz-animation: blinking-cursor .5s ease infinite;
    animation: blinking-cursor .5s ease infinite;
}

.typewriter>p {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    //border-right: .15em solid transparent; /* The typwriter cursor */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */

    // Animation only for really large
    @media screen and (min-width: 90em) {
        white-space: nowrap;
        /* Keeps the content on a single line */
        animation:
            typing 5s steps(45, end) infinite;
        animation-delay: 2s;
    }
}


// Scroll indicator

$colorBg: $purple-bg;
$colorOutline: $white;
$colorOutlineFade: $pink;

$widthMouse: 24px;
$heightMouse: 41px;
$borderMouse: 3px;

$posMouse: 4px;
$posText: 1px;

$sizeTrackball: 5px;
$posTrackball: 10px;
$shrinkTrackball: 0.4;

$animDuration: 8s;

@mixin bgGradient {
    background:
        $colorOutlineFade linear-gradient(transparent 0%,
        transparent 50%,
        $colorOutline 50%,
        $colorOutline 100%);
}

.scroll-indication{
    margin-top: 90px;
    
    .mouse {
        @include bgGradient;
        position: relative;
        width: $widthMouse;
        height: $heightMouse;
        margin: 0px auto;
        border-radius: 100px;
        background-size: 100% 200%;
        animation:
            colorSlide $animDuration linear infinite,
            nudgeMouse $animDuration ease-out infinite;
    
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    
        &:before {
            width: $widthMouse - $borderMouse;
            height: $heightMouse - $borderMouse;
            background-color: $colorBg;
            border-radius: 100px;
        }
    
        &:after {
            background-color: $colorOutline;
            width: $sizeTrackball;
            height: $sizeTrackball;
            border-radius: 100%;
            animation: trackBallSlide $animDuration linear infinite;
        }
    }
}

@keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }

    20% {
        background-position: 0% 0%;
    }

    21% {
        background-color: $colorOutlineFade;
    }

    29.99% {
        background-color: $colorOutline;
        background-position: 0% 0%;
    }

    30% {
        background-color: $colorOutlineFade;
        background-position: 0% 100%;
    }

    50% {
        background-position: 0% 0%;
    }

    51% {
        background-color: $colorOutlineFade;
    }

    59% {
        background-color: $colorOutline;
        background-position: 0% 0%;
    }

    60% {
        background-color: $colorOutlineFade;
        background-position: 0% 100%;
    }

    80% {
        background-position: 0% 0%;
    }

    81% {
        background-color: $colorOutlineFade;
    }

    90%,
    100% {
        background-color: $colorOutline;
    }
}

@keyframes trackBallSlide {
    0% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    6% {
        opacity: 1;
        transform: scale(0.9) translateY($posTrackball/4);
    }

    14% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }

    15%,
    19% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }

    28%,
    29.99% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    30% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    36% {
        opacity: 1;
        transform: scale(0.9) translateY($posTrackball/4);
    }

    44% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }

    45%,
    49% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }

    58%,
    59.99% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    60% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    66% {
        opacity: 1;
        transform: scale(0.9) translateY($posTrackball/4);
    }

    74% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }

    75%,
    79% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }

    88%,
    100% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }
}

@keyframes nudgeMouse {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY($posMouse);
    }

    30% {
        transform: translateY(0);
    }

    50% {
        transform: translateY($posMouse);
    }

    60% {
        transform: translateY(0);
    }

    80% {
        transform: translateY($posMouse);
    }

    90% {
        transform: translateY(0);
    }
}

@keyframes nudgeText {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY($posText);
    }

    30% {
        transform: translateY(0);
    }

    50% {
        transform: translateY($posText);
    }

    60% {
        transform: translateY(0);
    }

    80% {
        transform: translateY($posText);
    }

    90% {
        transform: translateY(0);
    }
}

@keyframes colorText {
    21% {
        color: $colorOutlineFade;
    }

    30% {
        color: $colorOutline;
    }

    51% {
        color: $colorOutlineFade;
    }

    60% {
        color: $colorOutline;
    }

    81% {
        color: $colorOutlineFade;
    }

    90% {
        color: $colorOutline;
    }
}