/*==========================================================================
  Base styles and utility classes
  ==========================================================================*/

body {
    overflow-x: hidden;
    letter-spacing: 1.2px;
    background: url("../img/background.jpg") top center;
    background-repeat: repeat-y;
    background-size: 100%;
    color: $white;
}

body.lock {
    overflow: hidden;
}

.pink{
    color: $pink;

    &-bg{
        background-color: $pink-bg;
    }
}

.purple{
    color: $purple;

    &-bg{
        background-color: $purple-bg;
    }
}

.white{
    color: $white;
}

.fullpage {
    height: 100vh;
    width: 100vw;
}

h1, .title {
    line-height: 1.2;
    font-family: $alien-font-family
}

img {
    max-width: 100%;
}

address {
    font-style: normal;

    p {
        margin-bottom: 0px;
        line-height: 2em;
    }
}

blockquote {
    background: $contribute-grey;
    color: black;
    position: relative;
    border: none;
    padding: 50px;
    padding-left: 70px;

    &:before {
        content: "";
        position: absolute;
        top: 50px;
        height: calc(100% - 100px);
        left: 40px;
        border-left: 9px solid $contribute-dark-grey;
    }

    p {
        color: black;
    }
}

.browserupgrade {
    background: map-get($foundation-palette, warning);
    color: $white;
    margin: 0.2em 0;
    padding: 0.2em 0;
}

p {
    font-size: 1.0625em;
    font-family: $body-font-family;
    line-height: 2.125em;
    letter-spacing: 1.5px;
}

.post-edit-link {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 5px 10px;
    background-color: $contribute-main;
    z-index: 5;

    &:hover,
    &:active,
    &:visited {
        color: white;
        text-decoration: none;
    }
}

.relative {
    position: relative;
}

.box-shadow{
    @include box-shadow();
}

.loader {
    color: #cccccc;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}