/*==========================================================================
  Base styles and utility classes
  ==========================================================================*/

:root {
    font-size: 16px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px $purple-bg;
    background-color: $purple-bg;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $pink-bg;
    border-radius: 10px;
    background-color: $pink;
}

::-webkit-selection {
    background: $pink;
    color: $white;
}

::-moz-selection {
    background: $pink;
    color: $white;
}

::-ms-selection {
    background: $pink;
    color: $white;
}

::selection {
    background: $pink;
    color: $white;
}

.row {
    max-width: 90rem;
}

.sticky {
    position: sticky;
}

.fixed {
    position: fixed;
}

body {
    overflow-x: hidden;
    letter-spacing: 1.2px;
    background: url("../img/background.jpg") top center;
    background-repeat: repeat-y;
    background-size: 100%;
    color: $white;
    padding: 40px;
}

body.lock {
    overflow: hidden;
}

.pink {
    color: $pink;

    &-bg {
        background-color: $pink-bg;
    }

    &-after {
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 10%;
            width: 90%;
            height: 100%;
            background-color: $pink-bg;
            z-index: -1;
            @include box-shadow();
        }
    }
}

.purple {
    color: $purple;

    &-bg {
        background-color: $purple-bg;
    }

    &-after {
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 10%;
            width: 90%;
            height: 100%;
            background-color: $purple-bg;
            z-index: -1;
            @include box-shadow();
        }
    }
}

.button {
    color: $white;
    padding: 38px 25px;
    background-color: $purple-bg;
    border: 2px solid $pink;
    margin: 0;

    font-size: 3.5rem;
    font-family: $alien-font-family, $body-font-family;

    @media only screen and (max-width: 630px) {
        font-size: 2.8rem;
    }

    @media only screen and (max-width: 480px) {
        font-size: 2rem;
    }

    @include word-wrap();
}

.white {
    color: $white;
}

.fullpage {
    height: 95vh;
    width: 100%;
}

.hidden-soft {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    transition: .2s ease-in-out;
}

.hidden {
    display: none;
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    transition: .2s ease-in-out;
}

.visible-soft {
    opacity: 1;
    height: auto;
    transition: .4s ease-in-out;
}

.visible {
    visibility: visible;
    display: block;
    height: auto;
    transition: .4s ease-in-out;
}

.box {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 110px;
    margin-bottom: 230px;

    position: relative;
}

img {
    max-width: 100%;
}

address {
    font-style: normal;

    p {
        margin-bottom: 0px;
        line-height: 2em;
    }
}

.browserupgrade {
    background: map-get($foundation-palette, warning);
    color: $white;
    margin: 0.2em 0;
    padding: 0.2em 0;
}

.big {
    font-size: 10.5rem;

    @media only screen and (max-width: 530px) {
        font-size: 8rem;
    }

    @media only screen and (max-width: 400px) {
        font-size: 6rem;
    }
}

.post-edit-link {
    position: absolute;
    top: -100px;
    right: 0;
    color: $white;
    padding: 38px 25px;
    background-color: $purple-bg;
    border: 2px solid $pink;
    z-index: 5;
    font-family: $alien-font-family, $body-font-family;

    &:hover,
    &:active,
    &:visited {
        color: white;
        text-decoration: none;
    }
}

.relative {
    position: relative;
}

.box-shadow {
    @include box-shadow();
}

.text-shadow {
    @include text-shadow();
}

.loader {
    color: #cccccc;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}