/*==========================================================================
  Foundation Overrides
  ==========================================================================*/

$foundation-palette: (primary: #1779ba,
secondary: #767676,
success: #3adb76,
warning: #ffae00,
alert: #cc4b37,
);

$global-flexbox: true;
$xy-grid: false;

/*==========================================================================
  Custom Variables
  ==========================================================================*/

$pink: #FF00CB;
$pink-bg: rgba(255, 0, 203, 0.1);
$purple: #390ABA;
$purple-bg: rgba(57, 10, 186, 0.75);
$white: #ffffff;


/*==========================================================================
  Social media colors
  ==========================================================================*/

$facebook: #4963A1;
$twitter: #59ADEC;
$instagram: #517EA0;
$pinterest: #CB2026;
$linkedin: #187CB5;
$google-plus: #DA4C3E;

/*==========================================================================
  Social media colors
  ==========================================================================*/

$ailerons-font-path: "../fonts/";
$ailerons-font-name: "Ailerons-Typeface";
$ailerons-font-family: "Ailerons";
$ailerons-font-file: $ailerons-font-path+$ailerons-font-name;

$alien-font-path: "../fonts/";
$alien-font-name: "SFAlienEncounters";
$alien-font-family: "SF Alien Encounters";
$alien-font-file: $alien-font-path+$alien-font-name;

$body-font-family: $ailerons-font-family,
Roboto,
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;