.error404 {
    #404 {
        canvas {
            width: 100%;
        }

        .small {
            font-size: 2rem;
            text-align: center;
            width: 100%;
            padding: 20px;
        }

        #restart,
        .game-button {
            font-family: $body-font-family ;
            font-size: 2rem !important;
            padding: 15px !important;
            width: auto;
            height: auto;
            background-color: $purple-bg;
            color: red !important;

        }
    }
}